@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  margin: 0 auto;
  max-width: 1152px;
  background: linear-gradient(to bottom, #1d2b64, #f8cdda);
}
a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 0px;
  color: white;
  display: flex;
  flex-direction: row;
  height: 1429px;
  align-items: center;
}
.main-ui {
  width: calc(100% / 2.5);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.main-ui .search {
  background-color: transparent;
  border: none;
  border-bottom: solid 3px #372a78;
  margin: 30px;
  height: 40px;
  outline: none;
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
input[type="text"]:focus {
  border: solid 2px #372a78;
  border-radius: 5px;
}
.main-ui h1 {
  font-weight: 400;
}
.main-ui h4 {
  margin: 20px 0;
  font-weight: 300;
}
.desc {
  margin-top: -35px;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}
.main-ui img {
  margin: 20px 0 15px 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.main-ui .temp {
  font-size: 72px;
  margin-top: 15px;
  font-weight: 600;
  text-shadow: 0px 4px rgb(0, 0, 0);
}
.more-ui {
  color: #afafaf;
  margin: 0px ​40px;
  text-align: center;
}
.item {
  display: flex;
  justify-content: row;
  justify-content: space-around;
  text-align: left;
  margin-top: 48px;
  margin-right: 50px;
}
.col {
  display: flex;
  flex-direction: row;
  text-align: left;
  border: solid 2px #372a78;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  font-size: 20px;
  color: white;
}
.top {
  display: flex;
  flex-direction: row;
}
.top .row {
  margin-right: 50px;
  width: 100%;
}
.top .row .temp {
  font-weight: 600;
  font-size: 48px;
  text-shadow: 0px 4px rgb(0, 0, 0);
}
.top .row .date {
  margin-top: 40px;
}
.top .row img {
  width: 100%;
}
.bottom {
  margin-top: 80px;
  border-top: 2px solid #afafaf;
}
button {
  display: none;
}
/* reponsive */

@media screen and (max-width: 375px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
  .main-ui {
    height: 812px;
    display: table;
    position: relative;
  }
  .main-ui .search {
    margin: 30px 0;
    max-width: 150px;
  }
  .main-ui .content {
    display: table-cell;
    vertical-align: middle;
  }
  .more-ui {
    display: table;
    position: relative;
  }
  .more-ui .top .row {
    display: none;
    text-align: center;
    margin: 0;
    color: white;
  }
  .top {
    position: relative;
    display: block;
  }
  .top .row img {
    width: 0;
  }
  .prev,
  .next {
    display: inline;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: 0;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .bottom .item {
    display: block;
    margin: 0;
  }
}
